@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: var(--white);
    border-radius: 0.625rem;
    max-width: 18rem;
    padding: 1rem;
}

h1 {
    font-size: 1.275rem;
    font-weight: 700;
    text-align: center;
    width: auto;
    color: var(--dark-blue);
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: var(--grayish-blue);
    margin: auto 10px 16px 10px
}

img {
    width: 100%;
    border-radius: 0.625rem;
    max-height: 18rem;
    max-width: 18rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 90%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
